<div>
  <h2 id="page-heading" data-cy="LogUsoHeading">
    <span>Gestión de informes y log</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <form>
    <div>
      <div class="row pt-3">
        <h3>Criterios de búsqueda</h3>
      </div>
      <div class="row pt-3">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <!-- FECHA DE INICIO -->
          <label for="txtFechaInicio">Fecha Inicio </label><br />
          <div class="input-group">
            <input
              #txtFechaInicio
              id="txtFechaInicio"
              name="txtFechaInicio"
              placeholder="yyyy-mm-dd"
              class="form-control"
              ngbDatepicker
              #d="ngbDatepicker"
              [value]="formatter.format(parFechaIni!)"
              (input)="parFechaIni = validateInput(parFechaIni, txtFechaInicio.value)"
              (dateSelect)="onDateSelectF1($event)"
            />
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <fa-icon icon="calendar-day"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <label for="txtFechaInicio">Fecha Fin </label><br />
          <div class="input-group">
            <!--  FECHA DE FIN -->
            <input
              #txtFechaFin
              id="txtFechaFin"
              name="txtFechaFin"
              placeholder="yyyy-mm-dd"
              class="form-control"
              ngbDatepicker
              #e="ngbDatepicker"
              [value]="formatter.format(parFechaFin!)"
              (input)="parFechaFin = validateInput(parFechaFin, txtFechaFin.value)"
              (dateSelect)="onDateSelectF2($event)"
            />
            <!--          (dateSelect)="onDateSelectF2($event)"
-->
            <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button">
              <fa-icon icon="calendar-day"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 bg-warning mx-2" style="align-self: self-end">
          <!-- MENSAJES DE ERROR DE FECHAS -->
          <span *ngIf="mostrarMensajeFechas">La fecha final debe ser superior a la fecha inicial</span>
          <span *ngIf="mostrarMensajeSospechosoFechas">Al seleccionar Cliente Sospechoso, debes seleccionar al menos fecha de inicio</span>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <fa-icon icon="barcode"></fa-icon>
          <label for="txtPin">PIN</label>
          <input type="tel" id="txtPin" name="txtPin" [(ngModel)]="parPin" />
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <fa-icon icon="id-card"></fa-icon>
          <label for="txtId">
            <span>Número de identificación</span>
          </label>
          <input type="text" id="txtId" name="txtId" style="vertical-align: top" size="20" [(ngModel)]="parNumeroIdentificacion" />
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="../../../../content/images/avatar-desconocido.svg" width="30px" />
          Cliente sospechoso&nbsp;&nbsp;
          <div class="form-check form-check-inline">
            <input
              type="radio"
              id="tbClienteSospechosoSi"
              mdbRadio
              class="form-check-input"
              name="flexRadioDefault"
              value="S"
              [(ngModel)]="parClienteSospechoso"
            />
            <label for="rbClienteSospechoso">Si</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              type="radio"
              id="tbClienteSospechosoNo"
              class="form-check-input"
              name="flexRadioDefault"
              value="N"
              [(ngModel)]="parClienteSospechoso"
            />
            <label for="rbClienteSospechoso">No</label>
          </div>
        </div>
      </div>
      <div class="row pt-3 text-center pb-3">
        <div class="col-12 text-center">
          <!--button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-log-uso"
            [routerLink]="['/log-uso/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span> Create a new Log Uso </span>
          </button-->
          <div class="justify-content-end form-check form-check-inline">
            <button class="btn btn-primary mr-2" (click)="loadAll()" [disabled]="isLoading">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
              <span>Buscar</span>
            </button>
          </div>
          <div class="form-check form-check-inline">
            <button id="btnExportar" *ngIf="logUsos?.length! > 0" class="btn btn-success" (click)="exportarExcel()">
              <fa-icon icon="file-excel"></fa-icon>
              <span>Exportar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="logUsos?.length === 0">
    <span>No hay registros seleccionados</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="logUsos && logUsos.length > 0">
    <table id="tab_logs" class="table table-striped hover" aria-describedby="page-heading">
      <thead>
        <tr class="color-botones">
          <th scope="col" *ngIf="false"><span>Log Id</span></th>
          <th scope="col"><span>Tipo de acción</span></th>
          <th scope="col"><span>Pin</span></th>
          <th scope="col"><span>Tipo de Documento</span></th>
          <th scope="col"><span>Número de identificación</span></th>
          <th scope="col"><span>Nombre Completo</span></th>
          <th scope="col"><span>Fecha de acción</span></th>
          <th scope="col"><span>Hora de acción</span></th>
          <th scope="col"><span>¿Acepta TyC?</span></th>
          <th scope="col">
            <span>¿Acepta Tratamiento<br />de datos?</span>
          </th>
          <th scope="col"><span>Cliente Sospechoso</span></th>
          <th scope="col" *ngIf="columnaNoExportar"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logUso of logUsos; trackBy: trackLogUsoId" data-cy="entityTable">
          <td *ngIf="false">
            <a [routerLink]="['/log-uso', logUso.logUsoId, 'view']">{{ logUso.logUsoId }}</a>
          </td>
          <td>{{ logUso.opcion }}</td>
          <td>{{ logUso.pin === null ? 'N/A' : logUso.pin }}</td>
          <td>{{ logUso.tipoDocumento }}</td>
          <td>{{ logUso.numeroDocumento }}</td>
          <td>{{ logUso.nombreCompleto }}</td>
          <td>{{ logUso.fechaHora | formatMediumDate }}</td>
          <td>{{ logUso.fechaHora | formatMediumOnlyTime }}</td>
          <td>Si</td>
          <td>Si</td>
          <td>{{ logUso.clienteSospechoso === 'S' ? 'Si' : 'No' }}</td>
          <td *ngIf="columnaNoExportar" class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/log-uso', logUso.logUsoId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Detalle</span>
              </button>

              <!--button
                type="submit"
                [routerLink]="['/log-uso', logUso.logUsoId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(logUso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
