<div>
  <h2 id="page-heading" data-cy="GrupoParametroHeading">
    <span>Grupo Parámetros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Recargar Lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-grupo-parametro"
        [routerLink]="['/grupo-parametro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nuevo Grupo de Parametros </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="grupoParametros?.length === 0">
    <span>No se encontró ningún grupo</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="grupoParametros && grupoParametros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Grupo Parametro Id</span></th>
          <th scope="col"><span>Nombre</span></th>
          <th scope="col"><span>Activo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grupoParametro of grupoParametros; trackBy: trackGrupoParametroId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/grupo-parametro', grupoParametro.grupoParametroId, 'view']">{{ grupoParametro.grupoParametroId }}</a>
          </td>
          <td>{{ grupoParametro.nombre }}</td>
          <td>{{ grupoParametro.activo }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/grupo-parametro', grupoParametro.grupoParametroId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Ver</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/grupo-parametro', grupoParametro.grupoParametroId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(grupoParametro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Borrar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
