<div>
  <h2 id="page-heading" data-cy="UsuarioHeading">
    <span>Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Recargar Lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-usuario"
        [routerLink]="['/usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear Usuario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="usuarios?.length === 0">
    <span>No usuarios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="usuarios && usuarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Usuario Id</span></th>
          <th scope="col"><span>Tipo Usuario</span></th>
          <th scope="col"><span>Username</span></th>
          <th *ngIf="false" scope="col"><span>Clave</span></th>
          <th scope="col"><span>Activo</span></th>
          <th scope="col"><span>Correo</span></th>
          <th scope="col"><span>Celular</span></th>
          <th scope="col"><span>Tipo Documento</span></th>
          <th scope="col"><span>Número Documento</span></th>
          <th scope="col"><span>Primer Nombre</span></th>
          <th scope="col"><span>Segundo Nombre</span></th>
          <th scope="col"><span>Primer Apellido</span></th>
          <th scope="col"><span>Segundo Apellido</span></th>
          <th *ngIf="false" scope="col"><span>Último Ingreso</span></th>
          <th scope="col"><span>Inicio Inactivacion</span></th>
          <th scope="col"><span>Fin Inactivacion</span></th>
          <th *ngIf="false" scope="col"><span>Fecha Creacion</span></th>
          <th *ngIf="false" scope="col"><span>Creado Por</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; trackBy: trackUsuarioId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/usuario', usuario.usuarioId, 'view']">{{ usuario.usuarioId }}</a>
          </td>
          <td>{{ usuario.tipoUsuario }}</td>
          <td>{{ usuario.username }}</td>
          <td *ngIf="false">{{ usuario.clave }}</td>
          <td>{{ usuario.activo }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.celular }}</td>
          <td>{{ usuario.tipoUsuario === tipoUsuario.Externo ? usuario.tipoDocumento : 'N/A' }}</td>
          <td>{{ usuario.tipoUsuario === tipoUsuario.Externo ? usuario.numeroDocumento : 'N/A' }}</td>
          <td>{{ usuario.primerNombre }}</td>
          <td>{{ usuario.segundoNombre }}</td>
          <td>{{ usuario.primerApellido }}</td>
          <td>{{ usuario.segundoApellido }}</td>
          <td *ngIf="false">{{ usuario.ultimoIngreso | formatMediumDatetime }}</td>
          <td>{{ usuario.inicioInactivacion | formatMediumDatetime }}</td>
          <td>{{ usuario.finInactivacion | formatMediumDatetime }}</td>
          <td *ngIf="false">{{ usuario.fechaCreacion | formatMediumDatetime }}</td>
          <td *ngIf="false">{{ usuario.creadoPor }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/usuario', usuario.usuarioId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Ver</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/usuario', usuario.usuarioId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button *ngIf="false" type="submit" (click)="delete(usuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Borrar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
