<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-rol-heading" data-cy="RolCreateUpdateHeading">Crear o editar un Rol</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('rolId')!.value == null">
          <label class="form-control-label" for="field_rolId">Rol Id</label>
          <input
            type="number"
            class="form-control"
            name="rolId"
            id="field_rolId"
            data-cy="rolId"
            formControlName="rolId"
            [readonly]="true"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            id="field_nombre"
            data-cy="nombre"
            formControlName="nombre"
            readonly="#idrol === 1 | #idrol === 2 | #idrol === 3 | #idrol === 4 "
          />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_activo">Activo</label>
          <input type="text" class="form-control" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
        </div>

        <div class="form-group">
          <label for="field_usuarios">Usuario</label>
          <select class="form-control" id="field_usuarios" data-cy="usuario" multiple name="usuarios" formControlName="usuarios">
            <option
              [ngValue]="getSelectedUsuario(usuarioOption, editForm.get('usuarios')!.value)"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioByUsuarioId"
            >
              {{ usuarioOption.usuarioId }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
