<div class="row">
  <div class="col-md-3">
    <!-- Columna de la izquierda -->
    <span class="img-fluid rounded"></span>
  </div>

  <div class="col-md-9 altura-maxima">
    <!-- Columna de la derecha -->
    <img src="./../../content/images/sg-logo.png" style="width: 80%; max-width: 500px; padding: 50px 0 50px 0" />
    <h1 class="display-4"><span>Bienvenido!</span> <br />Sistema administrativo de Rastreo Giros</h1>

    <div *ngIf="account !== null" style="position: absolute; top: 10; left: 10">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Autenticado como "{{ account.login }}".</span>
      </div>
    </div>
  </div>
</div>
